data/*
!data/.gitkeep
!data/example_metadata.tsv
!data/example_feature_table.tsv
!data/example_taxonomy.tsv
*.fastq
*.fastq.gz
*.fq
*.fq.gz
.RData
.Rhistory
# MultiQC generated reports
results/multiqc/


